<html>
    <head>
        <title> Seg Test</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div>
            <h2>Segmentation Testing</h2>
            <p>
                For the segmentation phase, the BHN
                Offensive Security Team attempted to connect to IPv4 network
                addresses defined within the Scope of Work for the engagement from a non
                -
                PCI campus network
                segment. The XX.XXX.XX/24 network environment defined within the Scope of Work lack segmentation
                from n
                etwork connections originating from a non
                -
                CDE network. An ICMP reply, TCP 3
                -
                way handshake,
                or response data retrieved from a stateless UDP connection constitutes a violation of PCI compliance.
                Any findings illustrated below which concern segmentation compl
                iance should be remediated based on
                regular prioritization of risk remediation
            </p>
        </div>


        <div id="scope">
            <h1>5.1 Scope</h1>

            <table div="ranges" border="1">
                <tr>
                    <th>CIDR Ranges</th>
                </tr>
                <tr>
                    <td>
                    XXXXXXXX/24
                    XXXXXXX/16
                    XXXXXXXX/24
                    </td>
                </tr>
            </table>
        </div>

        <br>

        <div>
            <table border="1" id="report">
            <tr>
                <th>Risk Rating </th>
                <th id = 'risk'>Critical</th>
            </tr>
            <tr>
                <th>Description</th>
                <td id="description">
                    An IPv4 network ranges defined within the Scope of Work as a target
                    network range for segmentation
                    testing (X.X.X.X/24) can be reached from the BHN PLS campus network segment (X.X.X.X/24)
                    <div>
                        <ul>
                            <li>Open Ports / Services: </li>
                            <ul id="open-ports"><li>80 Apache2</li></ul>
                        </ul>

                        <ul>
                            <li>OS Detection:</li>
                            <ul id="os_detection"><li>Window xp sp2</li></ul>
                        </ul>
                    </div>

                </td>
            </tr>
            <tr>
                <th>Recommendation</th>
                <td>
                    Ensure proper segmentation procedures are implemented to prevent campus network clients from
                    connecting to
                    privileged network segments
                </td>
            </tr>
            <tr>
                <th>Affected {URLs / IP Addresses / Hosts / User Accounts}</th>
                <td id="address">XX.X.XX.X/24</td>
            </tr>
            <tr>
                <th>References</th>
                <td>N/A</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td></td>
            </tr>
            <tr>
                <th>Screenshots</th>
                <td></td>
            </tr>
        </table>
        </div>




    </body>
</html>
