<html>
    <head>

    </head>

    <body>

    <div>
            <h2>Segmentation Testing</h2>
            <p>
                For the segmentation phase, the BHN
                Offensive Security Team attempted to connect to IPv4 network
                addresses defined within the Scope of Work for the engagement from a non
                -
                PCI campus network
                segment. The XX.XXX.XX/24 network environment defined within the Scope of Work lack segmentation
                from n
                etwork connections originating from a non
                -
                CDE network. An ICMP reply, TCP 3
                -
                way handshake,
                or response data retrieved from a stateless UDP connection constitutes a violation of PCI compliance.
                Any findings illustrated below which concern segmentation compl
                iance should be remediated based on
                regular prioritization of risk remediation
            </p>
        </div>


        <div id="scope">
            <h1>5.1 Scope</h1>

            <table div="ranges" border="1">
                <tr>
                    <th>CIDR Ranges</th>
                </tr>
                <tr>
                    <td>
                    XXXXXXXX/24
                    XXXXXXX/16
                    XXXXXXXX/24
                    </td>
                </tr>
            </table>
        </div>

        <div id="reports">

        </div>

    </body>
</html>