
<div id="reports">
    <div>
        <table border="1" id="report">
            <tr>
                <th>Risk Rating</th>
                <th id='risk'>Critical</th>
            </tr>
            <tr>
                <th>Description</th>
                <td id="description">
                    An IPv4 network ranges defined within the Scope of Work as a target
                    network range for segmentation
                    testing <span class="target">(X.X.X.X/24) </span> can be reached from the BHN PLS campus network
                    segment
                    <span id="attacker">(X.X.X.X/24) </span>
                </td>
            </tr>
            <tr>
                <th>Recommendation</th>
                <td>
                    Ensure proper segmentation procedures are implemented to prevent campus network clients from
                    connecting to
                    privileged network segments
                </td>
            </tr>
            <tr>
                <th>Affected {URLs / IP Addresses / Hosts / User Accounts}</th>
                <td><span class="target">(X.X.X.X/24) </span></td>
            </tr>
            <tr>
                <th>References</th>
                <td>N/A</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td></td>
            </tr>
            <tr>
                <th>Screenshots</th>
                <td>


                    <div id="hosts">

                    </div>

                </td>
            </tr>
        </table>
    </div>

</div>