
<div class="reports">
    <h3> X.X.X Segmentation Failure </h3>
    <div>
        <table border="1" class="report">
            <tr>
                <th>Risk Rating</th>
                <th class='risk'>Critical</th>
            </tr>
            <tr>
                <th>Description</th>
                <td class="description"></td>
            </tr>

            <tr>
                <th >Recommendation</th>
                <td class="recommendation">
                    Ensure proper segmentation procedures are implemented to prevent campus network clients from
                    connecting to
                    privileged network segments
                </td>
            </tr>
            <tr>
                <th>Affected {URLs / IP Addresses / Hosts / User Accounts}</th>
                <td>
                    <ul class="found_ip">

                    </ul>
                </td>
            </tr>
            <tr>
                <th>References</th>
                <td>N/A</td>
            </tr>
            <tr>
                <th class="notes">Notes</th>
                <td></td>
            </tr>
            <tr>
                <th>Screenshots</th>
                <td>


                    <div class="hosts">

                    </div>

                </td>
            </tr>
        </table>
    </div>

</div>